extends ../../layouts/admin

append breadcrumbs
  li: a(href='/admin/posts') Posts Administration
  li.active= title

block body
  if (errors && errors.length)
    .alert.alert-danger.alert-dismissable
      button.close(type='button', data-dismiss='alert' aria-hidden='true')
        | &times;
      ul
      each error in errors
        li= error

  form(action='/admin/posts', method='post', role='form')
    include _form
    
    input(type='hidden', name='user_id', value=user.id)
    input(type='hidden', name='_csrf', value=token)
    input(type='hidden', name='_method', value='post')

    button.btn.btn-primary(type='submit')
      i.fa.fa-plus
      |  Create Post
    | 
    a.btn.btn-default(href='/admin/posts', role='button') Cancel