extends ../layouts/main

block body
  p.lead
    | welcome to the site

  h3 Next Steps

  ul
    li Edit <em>this</em> text: <code>app/views/main/index</code>.
    li Alter or remove the About and Contact Pages, as necessary.
    li Create new resources...

  p Hi, #{user.displayName}!